/**
 * Main Page
 */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

.setting {
  width: 300px;
  min-height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #282B56;
  color: #fff;
  font-size: 13px;
  padding: 20px;
  box-sizing: border-box;

  &_group {
    margin-bottom: 10px;
  }

  label {margin-right: 10px;}
  input {
    border: 1px solid #fff;
    padding: 3px 6px;
    width: 160px;
  }
  .submit {width: 80px;}
  .file {width: 230px;}
}

.move {
  bottom: -20%;
  position: absolute;
}

.item{
  // width: 70px;
  // height: 70px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Animation Keyframes */
@keyframes shake {
  0% { transform: translateX(20px); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(20px); }
}
@-webkit-keyframes shake {
  0% { -webkit-transform: translateX(20px); }
  50% { -webkit-transform: translateX(-20px); }
  100% { -webkit-transform: translateX(20px); }
}
@keyframes move{
  0%{ transform: translateY(0px); }
  100%{ transform: translateY(-1000px); }
}
@keyframes scale {
  80%{ transform: scale(1); }
}

/* Animation play */
// $b_ease: cubic-bezier(0.470,0.000,0.745,0.715);
// @for $i from 0 through 50 {
// 		$time: $i*0.2;
// 		$scale: $i*0.1;
// 		.stretch#{$i} {
// 			animation: stretch ($time+2)+s ease 0s infinite normal;
// 			-webkit-animation: stretch ($time+2)+s ease 0s infinite normal;
// 		}
// 		.shake#{$i} {
// 			animation: shake ($time+2)+s ease 0s infinite normal;
// 			-webkit-animation: shake ($time+2)+s ease 0s infinite normal;
// 		}
// 		.move#{$i}  {
// 			animation: move ($time+5)+s $b_ease $time+s infinite normal;
// 			-webkit-animation: move ($time+5)+s $b_ease $time+s infinite normal;
// 		}
// 		.pos#{$i}  {
// 			left: percentage($i*2/100);
// 		}
// 		.scale#{$i}  {
// 			transform: scale($scale);
// 			-webkit-transform: scale($scale);
// 		}
// 	}
